.image{
    width: 105px;
    /* -webkit-animation:spin 500ms linear infinite;
    -moz-animation:spin 500ms linear infinite;
    animation:spin 500ms linear infinite; */
}
/* @-moz-keyframes spin { 50% { -moz-transform: rotateY(90deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotateY(90deg); } }
@keyframes spin { 50% { -webkit-transform: rotateY(90deg); transform:rotateY(90deg); } } */