.bordered td {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #c8ced3;
}

.filled-row {
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: bold;
}

.flex-container {
  display: flex;
}

.content-area {
  margin-bottom: 55px;
}

.content-area_subtitle {
  margin-bottom: 2px;
}

.inner-table {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}

.inner-table .row {
  display: table-row;
}

.inner-table .row .cell {
  display: table-cell;
}

.inner-table .row .cell_title {
  display: table-cell;
  width: 15%;
}

.gantt-chart-table th {
  border-left: 3px solid #c8ced3;
}

.gantt-chart-table td {
  padding: 3px 0px !important;
  border-left: 1px solid #c8ced3;
}

.gantt-chart-table .title {
  padding-left: 15px !important;
}

.gantt-chart-table .filled-cell {
  background: blue;
  padding: 12px 0px;
}

.title-page-doc {
  display: none;
  text-align: center;
}

.title-page-doc .logo {
  background: url("assets/img/logo.png") no-repeat center;
  background-size: contain;
}

.pageBreak {
  page-break-after: always;
}

.export_container {
  text-align: justify;
}

figure table td{ 
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #c8ced3;
  min-width: 50px;
}