.gantt_marker {
  background-color: rgba(255, 0, 0, 0.8);
}

.gantt_task_line,
.gantt_task_link {
  transition: opacity 200ms;
}
.overlay_visible .gantt_task_line,
.overlay_visible .gantt_task_link {
  opacity: 0.6;
}

.gantt_marker.today {
  background: #ffb121;
}

.gantt_message_area,
.dhtmlx_message_area {
  display: none;
}

/* ----- */

.weekend {
  background: #f4f7f4 !important;
}

[data-column-name="constraint_type"] .gantt_tree_content {
  padding: 1px;
  line-height: 17px;
  white-space: normal;
  text-align: right;
  box-sizing: border-box;
}

.gantt_grid_editor_placeholder[data-column-name="constraint_type"] select {
  line-height: 20px;
  white-space: normal;
}

.constraint-marker {
  position: absolute;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 56px;
  height: 56px;
  margin-top: -11px;

  opacity: 0.4;
  z-index: 1;
  background: url("/public/assets/images/arrow.svg") center no-repeat;
  background-size: cover;
}

.constraint-marker.earliest-start {
  margin-left: -53px;
}

.constraint-marker.latest-end {
  margin-left: -3px;
  transform: rotate(180deg);
}

.gantt_link_control {
  z-index: 1;
}
