.dhx_config_free .dhx_config_item:nth-child(1) > .item_body {
  background: green;
}
.dhx_config_free .dhx_config_item:nth-child(2) > .item_body {
  background: green;
}

.dhx_config_values .dhx_config_item:nth-child(1) > .item_body,
.dhx_config_item:nth-child(1) > div.dhx_item-modes > select {
  background: green;
}
.dhx_config_values .dhx_config_item:nth-child(2) > .item_body,
.dhx_config_item:nth-child(2) > div.dhx_item-modes > select {
  background: green;
}
